#infoContainer {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding: 0;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;  
}

#homeListSection {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px rgb(182, 182, 182);
}

#homeListSection:hover {
    box-shadow: 2px 2px 2px rgb(219, 219, 219);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}